html {
  background-color: black;
  height: 100%;
  font-family: Catamaran, sans-serif;
  color: white;
  background-image: url('maroonBells.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
#page-container {  position: relative;  min-height: 100vh;}
#content-wrap {  padding-bottom: 2rem;    /* Footer height */}
#footer {  position: absolute;  bottom: 0;  width: 100%;  height: 2rem;            /* Footer height */}
body {
  background-color: rgba(0, 0, 0, 0) !important;
  font-family: Catamaran, sans-serif;
  color: white;
  height: 100%;
}
.center {
  display: flex;
  justify-content: center !important;
}

.containerInfo {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 6%;
  flex-direction: column;
  color: white;
}
.getInTouch {
  font-size: 5em;
  padding: 3%;
}
.centerYdiv {
  margin-top: 15%;
  padding-top: 2%;
  padding-right: 5%;
  background:rgba(255,255,255, 0.1);
}
.linkedinSize {
 font-size: 110px; 
}
@media only screen and (max-width: 769px){
  .iconCM {
  width: 50%;
  height: 50%;
  }
  .linkedinSize {
    font-size: 72px; 
  }
  .iconPhone {
    width: 20%;
    height: 20%;
  }
  .getInTouch {
    padding: 1%;
    font-size: 3em;
  }
  h3 {
    font-size: 1.5em;
  }
  .centerYdiv {
    margin-top: 5%;
    padding-top: 3%;
    padding-right: 0;
  }
}
